@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1275px;
  }
}
@media screen and (max-width: 600px) {
  .aboutpage1 {
    margin-right: 0;
  }

  .about-image {
    margin-left: 0;
    width: auto;
  }

  .heading-main {
    color: var(--color1);
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 16px;
    margin-left: 10px;
  }

  .paragraph-main {
    color: var(--color2);
    font-size: 16px;
    margin-bottom: 60px;
    margin-left: 10px;
  }

  .icon {
    margin-left: 10px;
  }

  .heading {
    color: var(--color1);
    font-size: 16px;
    margin-top: 14px;
    margin-bottom: 6px;
    margin-left: 10px;
  }

  .paragraph {
    color: #5d6970;
    margin-bottom: 40px;
    margin-left: 10px;
  }
}
