@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1275px;
  }
}

@media screen and (max-width: 600px) {
  .homepage2 {
    margin: 0;
    padding: 0;
  }

  .image {
    height: 50%;
    width: 60%;
    margin-right: 90px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .heading1 {
    margin-left: 10px;
  }

  .paragraph1 {
    margin-left: 10px;
  }

  .icon {
    margin-left: 10px;
  }

  .heading {
    margin-left: 10px;
  }

  .paragraph {
    margin-left: 10px;
  }
}
